{"plot_config": {
    "National": "12:01",
    "Ohio": "10:31",
    "Florida": "10:46",
    "Pennsylvania": "11:01",
    "North Carolina": "11:16",
    "Arizona": "11:31",
    "Nevada": "11:46",
    "Iowa": "12:16",
    "Georgia": "12:31",
    "New Hampshire": "12:46",
    "Wisconsin": "13:01"
    }
}
